
<!DOCTYPE html>
{% load static %}

<html lang="ru">

<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Компетенция</title>
  <meta name="description" content="Компетенция - обучение психологии онлайн">
<!--  <link href="{% static 'img/icons/favicon.ico' %}" rel="shortcut icon">-->

  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <script src="{% static 'js/gsap.min.js' %}"></script>
  <script defer src="{% static 'js/main.js' %}"></script>

</head>
<body>
{% block body %}

{% endblock %}

</body>
</html>
