{% extends 'layout.html' %}
{% load static %}


{% block page_content %}

<div class="home-page">
  <div class="container home-page__content">
    <div class="underheader home-page__banner">
      <h1 class="title-1 color-theme home-page__banner-title" style="line-height: 1;">Компетенция</h1>
      <p class="title-4 fw-medium home-page__banner-desc" style="font-style: italic;">обучение психологии онлайн</p>
      <a href="{% url 'cources' %}" class="rect-btn home-page__banner-btn">
        К списку курсов
      </a>

      <ul class="circles" aria-hidden="true">
        <li aria-hidden="true"></li>
        <li aria-hidden="true"></li>
        <li aria-hidden="true"></li>
        <li aria-hidden="true"></li>
        <li aria-hidden="true"></li>
        <li aria-hidden="true"></li>
        <li aria-hidden="true"></li>
        <li aria-hidden="true"></li>
        <li aria-hidden="true"></li>
        <li aria-hidden="true"></li>
      </ul>

    </div>


    <div class="home-page__cources">
      <h2 class="title-2 home-page__cources-title">

      </h2>
      <ul class="home-page__cources-list">

      </ul>
    </div>

  </div>
  <div class="container">
    <section class="home-page__section section-mb">
      <h2 class="title-2 title-mb">Что такое Компетенция?</h2>
      <p>
        Компетенция - это онлайн-платформа для обучения психологов, разработанная с учетом современных подходов к образованию и с использованием новейших технологий. На платформе представлены курсы по различным направлениям психологии, включая клиническую, социальную, организационную и другие области.
      </p>
      <br>
      <br>

      <p>
        Курсы на платформе Компетенция созданы ведущими экспертами в области психологии и педагогики. Каждый курс включает в себя теоретические материалы, практические задания и тесты для самопроверки. После прохождения курса вы получите сертификат, подтверждающий вашу квалификацию и знания в соответствующей области психологии.
      </p>
      <br>
      <br>
      <p>
        Компетенция - это удобный и доступный способ повысить свою квалификацию и получить новые знания в области психологии. Регистрируйтесь на платформе и начинайте учиться уже сегодня!
      </p>

      {% if not request.user.is_authenticated %}
      <a href="{% url 'cources' %}" class="rect-btn rect-btn_theme home-page__banner-btn">
        Зарегистрироватья
      </a>
      {% endif %}
    </section>

    <section class="home-page__section section-mb">
      <h2 class="title-2 title-mb">Наши преимущества</h2>
      <p>
        Курсы на платформе Компетенция созданы с учетом потребностей психологов на любом этапе их карьеры - от начинающих до профессиональных психологов, желающих расширить свои знания и умения в определенной области психологии. Курсы платформы Компетенция разработаны таким образом, чтобы обеспечить наилучшее качество обучения, удовлетворить все потребности учеников и помочь им достичь успеха в своей карьере.
      </p>
      <br>
      <br>

      <p>
        На платформе Компетенция вы сможете выбрать курсы, которые наиболее соответствуют вашим интересам и потребностям, и проходить обучение в удобное для вас время и темпе. Вы можете изучать материалы в любом месте, где есть доступ к интернету - на работе, дома или в дороге.
      </p>
      <br>
      <br>
      <p>
        Помимо курсов, на платформе Компетенция вы найдете другие полезные ресурсы для развития своей карьеры в области психологии. Мы предоставляем доступ к последним научным исследованиям, статьям, книгам и другим материалам, которые помогут вам расширить свои знания и умения.
      </p>

      <br><br>
      <p>
        Компетенция - это не просто платформа для онлайн-обучения, это сообщество психологов, которые стремятся к развитию своих профессиональных навыков и обмену опытом. Мы создали уникальную среду, где вы можете общаться с другими психологами и экспертами в области психологии, обсуждать темы, задавать вопросы и делиться своим опытом.
      </p>

      <br><br>
      <p>Компетенция - это удобный, эффективный и доступный способ повысить свою квалификацию и достичь новых высот в своей профессиональной деятельности. Регистрируйтесь на платформе и начинайте учиться уже сегодня!</p>

      <a href="{% url 'cources' %}" class="rect-btn rect-btn_theme home-page__banner-btn">
        Начать обучение
      </a>
    </section>
  </div>
</div>


{% endblock %}