{% extends 'layout.html' %}
{% load static %}


{% block page_content %}

<div class="cources-page">
  <div class="container">
    <div class="cources-page__content">
      <div class="cources-page__cources js-quiz-page">
        <div class="section-mb quiz-section js-first-quiz">
          <h1 class="title-2 title-mb cources-page__cources-title">
            Проверочная работа по курсу: {{quiz.cource.title}}
          </h1>
          <p class="title-mb">
            {% if quiz.rules %}
            {{ quiz.rules }}
            {% endif %}
          </p>
          {% if quiz.questions.all|length %}
          <button class="rect-btn rect-btn_theme js-quiz-start">Начать</button>

          {% endif %}
        </div>

        <div class="section-mb quiz-section js-finish-quiz">
          <h1 class="title-2 title-mb">Тест завершен</h1>
          <p class="title-mb">Вы набрали <span class="js-count-answers"></span> из {{quiz.questions.all|length}}</p>

          
          <button class="rect-btn rect-btn_theme" onClick="javascript:history.go(-1);">К списку уроков</button>
        </div>

        {% if quiz.questions.all|length %}

        {% for question in quiz.questions.all %}
        <acticle class="quiz js-quiz">
          <h2 class="title-3">{{forloop.counter}}. {{ question.name }}</h2>
          <iframe src="{{ question.link }}" width="280" height="220" allowfullscreen frameborder="0"></iframe>
          {% if question.answers.all|length %}

          <form class="radio-group quiz__list js-quiz-form">
            {% for answ in question.answers.all %}
            {% if answ.is_right %}
            <input class="r" type="radio" id="{{question.id}}_{{answ.id}}" name="answer" value="{{question.id}}_{{answ.id}}">
            {% else %}
            <input type="radio" id="{{question.id}}_{{answ.id}}" name="answer" value="{{question.id}}_{{answ.id}}">
            {% endif %}
            <label for="{{question.id}}_{{answ.id}}">{{answ.name}}</label>
            
            {% endfor %}

          </form>
          {% else %}
          <p>Вопрос не требует ответа</p>
          {% endif %}
          <p class="faded comment">Комментарий: {{ question.comment }}</p>
        </acticle>

        {% empty %}
        <p>Вопросы находятся в разработке:)</p>
        {% endfor %}
        <div class="js-quiz-results">
          <button class="rect-btn title-mb ">Смотреть результаты</button>

        </div>
        {% endif %}



      </div>

    </div>
  </div>
</div>


{% endblock %}